{% extends "base.html" %}
{% load static %}
{% block title %}Форма заказа{% endblock %}

{% block content %}
<section class="py-5 main-body">
    <div class="container px-4 px-md-5">
        <h3 class="text-center fw-bold mb-5 milksite-title">Заказ на вкусности</h3>
        <div class="card custom-card p-4 mx-auto">
            

            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <!-- Имя клиента -->
                <div class="mb-3 form-label fw-bold label-color">
                    {{ form.client_name.label_tag }}
                    {{ form.client_name }}
                    {{ form.client_name.errors }}
                </div>

                <!-- Телефон -->
                <div class="mb-3 form-label fw-bold label-color">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                    {{ form.phone.errors }}
                </div>

                <!-- Комментарий -->
                <div class="mb-3 form-label fw-bold label-color">
                    {{ form.comment.label_tag }}
                    {{ form.comment }}
                    {{ form.comment.errors }}
                </div>

                <!-- День привоза -->
                <div class="mb-3 form-label fw-bold label-color">
                    {{ form.delivery_day.label_tag }}
                    {{ form.delivery_day }}
                    {{ form.delivery_day.errors }}
                </div>

                <!-- Дата заказа (только дата, без времени) -->
                <div class="mb-3 form-label fw-bold label-color">
                    {{ form.appointment_date.label_tag }}
                    {{ form.appointment_date }}
                    {{ form.appointment_date.errors }}
                </div>

                <!-- Продукты -->
                <div class="mb-3 form-label fw-bold label-color">
                    {{ form.products.label_tag }}
                    {{ form.products}}
                    {{ form.products.errors }}
                    <small class="form-text text-muted">Вы можете выбрать несколько продуктов</small>
                </div>

                <!-- Кнопки -->
                <div class="d-flex justify-content-between mt-4">
  <button type="submit" class="btn main-btn w-100 me-2">Заказать</button>
  <a href="{% url 'landing' %}" class="btn btn-outline-secondary w-100 ms-2">
    <i class="bi bi-arrow-left"></i> Отмена
  </a>
</div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/order_form.js' %}"></script>
{% endblock %}