{% extends 'base.html' %}
{% load static %}

{% block title %}Заказ продукции{% endblock %}

{% block content %}
<section class="py-5 main-body">
  <div class="container px-4 px-md-5">
    <h2 class="text-center fw-bold mb-5 milksite-title">Форма заказа продукции</h2>
    <div class="card custom-card p-4 mx-auto">
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      <form method="post" class="d-flex flex-column gap-2">
        {% csrf_token %}
        <div class="mb-2">
          <label for="client_name" class="form-label fw-bold label-color">Имя клиента<span class="text-danger">*</span></label>
          <input type="text" class="form-control form-control-sm" id="client_name" name="client_name" placeholder="Введите ваше имя" value="{{ form_data.client_name|default:'' }}" required>
        </div>

        <div class="mb-2">
          <label for="phone" class="form-label fw-bold label-color">Телефон<span class="text-danger">*</span></label>
          <input type="text" class="form-control form-control-sm" id="phone" name="phone" placeholder="Введите телефон" value="{{ form_data.phone|default:'' }}" required>
        </div>

        <hr>
        <h6 class="form-label fw-bold label-color">Выбор продукции и количества<span class="text-danger">*</span></h6>
        {% for product in products %}
          <div class="row align-items-center mb-2">
            <div class="col-6">
              <div class="form-check">
                <input class="form-check-input product-checkbox" type="checkbox" value="{{ product.id }}" id="product_{{ product.id }}" name="product">
                <label class="form-label fw-bold label-color" for="product_{{ product.id }}">{{ product.name }} — {{ product.price }} ₽</label>
              </div>
            </div>
            <div class="col-6">
              <input type="number" class="form-control quantity-input form-control-sm label-color" name="quantity_{{ product.id }}" id="quantity_{{ product.id }}" min="0" value="0" disabled>
            </div>
          </div>
        {% endfor %}
        <div class="mb-2 mt-2">
          <label for="delivery_day" class="form-label fw-bold label-color">День привоза<span class="text-danger">*</span></label>
          <select class="form-control quantity-input form-control-sm" id="delivery_day" name="delivery_day" required>
            <option value="">Выберите день</option>
            <option value="Вторник" {% if form_data.delivery_day == "Вторник" %}selected{% endif %}>Вторник</option>
            <option value="Пятница" {% if form_data.delivery_day == "Пятница" %}selected{% endif %}>Пятница</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="comment" class="form-label fw-bold label-color">Комментарий</label>
          <textarea class="form-control" id="comment" name="comment" rows="3">{{ form_data.comment|default:'' }}</textarea>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <a href="{% url 'landing' %}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left me-1"></i>Отмена</a>
          <button type="submit" class="btn order-btn">
            <i class="bi bi-check-circle me-1"></i> Заказать
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}
