{% extends "base.html" %}
{% load static %}
{% block title %}Наши продукты{% endblock %}

{% block content %}
<section id="products" class="py-5 main-body">
    <div class="container px-4 px-md-5">
        <h2 class="text-center fw-bold mb-5 milksite-title">Наши продукты</h2>

        <div class="mb-4 text-end">
            <a href="{% url 'create_order' %}" class="btn main-btn">Сделать заказ на молочко</a>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-3">
            {% for product in products %}
            <div class="col mb-4">
                <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">
                    <div class="card h-100 text-center border-0 shadow-sm small-card">

                        {% if product.image %}
                            <div class="img-wrapper">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top square-img">
                            </div>
                        {% endif %}

                        <div class="card-body p-2 d-flex flex-column justify-content-between">
                            <h6 class="mb-1 d-flex justify-content-center align-items-center gap-2 flex-nowrap">
                                <span class="text-truncate">{{ product.name }}</span>
                                {% if product.is_popular %}
                                    <img src="{% static 'images/pop_icon.png' %}" alt="Популярный продукт" style="width: 30px;">
                                {% endif %}
                            </h6>

                            <div class="description mb-2">
                                <p class="text-muted small mb-0 description-text" data-full="{{ product.description }}">{{ product.description|truncatechars:50 }}</p>
                            </div>

                            <p class="fw-bold mb-2">{{ product.price }} ₽</p>
                        </div>

                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
