{% extends "base.html" %}
{% load static %}

{% block title %}Оставить отзыв{% endblock %}

{% block content %}
<section class="py-5 main-body">
    <div class="container px-4 px-md-5">
        <h2 class="text-center fw-bold mb-5 milksite-title">Оставить отзыв</h2>
        <div class="card custom-card p-4 mx-auto">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="post" enctype="multipart/form-data" class="d-flex flex-column gap-3">
                {% csrf_token %}

                <div>
                    <label for="id_client_name" class="form-label fw-bold label-color">Имя</label>
                    <input 
                        type="text" 
                        class="form-control form-control-sm" 
                        id="id_client_name" 
                        name="client_name" 
                        placeholder="Введите ваше имя"
                        value="{{ form_data.client_name|default:'' }}"
                    />
                </div>

                <div>
                    <label for="id_text" class="form-label fw-bold label-color">Текст отзыва</label>
                    <textarea 
                        class="form-control form-control-sm" 
                        id="id_text" 
                        name="text" 
                        rows="4" 
                        placeholder="Напишите свой отзыв..."
                        required
                    >{{ form_data.text|default:'' }}</textarea>
                </div>

                <div class="mb-3">
                    <label for="rating" class="form-label fw-bold label-color">Оценка*</label>
                    <div id="star-rating" class="d-flex gap-2 fs-4">
                        <input type="hidden" name="rating" id="rating-value" value="{{ form_data.rating|default:'0' }}">
                            {% for i in "12345" %}
                            <i class="bi bi-star star-rating-item" data-rating="{{ forloop.counter }}"></i>
                            {% endfor %}
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <a href="{% url 'landing' %}" class="btn btn-return-small">
                        <i class="bi bi-arrow-left me-1"></i> Отмена
                    </a>
                    <button type="submit" class="btn order-btn">Опубликовать отзыв</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock scripts %}
