{% extends "base.html" %}
{% load static %}

{% block title %}Благодарность{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="thanks-card">
        <p class="lead">{{ source_message }}</p>
        {% if source == "order" %}
        <hr>
        <p class="thanks-text">Коровки готовят молоко для вас!</p>
        {% endif %}
        <p class="mt-4">
            Вы будете перенаправлены на главную через 
            <span id="countdown" class="fw-bold text-danger" data-landing-url="{% url 'landing' %}">7</span> секунд.
        </p>
        <div class="thanks-image-wrapper">
            <img src="{% static 'images/cow_relax.png' %}" alt="Спасибо" class="thanks-image">
        </div>
        <a href="{% url 'landing' %}" class="btn btn-return-small mt-3">
            Вернуться
        </a>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    {% if source == "order" or source == "review" %}
    <script>
        {% include "core/js/thanks_counter_time.js" %}
    </script>
    {% endif %}
{% endblock scripts %}
