{% extends "base.html" %}
{% load static %}

{% block title %}Пароль успешно изменён - {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
  <div class="name-card p-4 mx-auto">
    <h2 class="text-center fw-bold mb-5 milksite-title">Пароль успешно изменён</h2>
    <div class="alert alert-success">
      <p class="mb-0">
        Ваш пароль был успешно изменён. Теперь вы можете войти с новым паролем.
      </p>
    </div>
    <div class="mt-3 text-center">
      <a href="{% url 'users:login' %}" class="btn order-btn">
        Войти
      </a>
    </div>
  </div>
</div>
{% endblock content %}