{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена — МОЛОКО&ДОМ</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=8">
</head>
<body class="err-body">

    <img src="{% static 'img/test404.png' %}" alt="404" class="err-image">

    <h2 class="err-title">Мы пока поищем страницу, а вы выберете молоко</h2>

    <div class="err-buttons">
        <a href="{% url 'landing' %}" class="btn-primary btn-custom">На главную</a>
        <a href="{% url 'products' %}" class="btn-secondary btn-custom">В каталог</a>
    </div>

</body>
</html>










