<div class="col">
    <div class="card custom-order-card h-100">
        <div class="card-body d-flex flex-column custom-card-body">
            <h5 class="card-title fw-bold custom-card-title">{{ order.client_name }}</h5>
            <p class="card-text mb-1 custom-card-text"><strong>Номер телефона: </strong> {{ order.phone }} </p>
            <p class="card-text mb-1 custom-card-text"><strong>Дата: </strong> {{ order.date }}</p>
            <p class="card-text mb-1 custom-card-text"><strong>Продукция: </strong>
                {{ order.products|join:", " }}
            </p>
            <p class="card-text mb-3 custom-card-text">
                <strong>Статус:</strong>
                <span class="badge
                    {% if order.status == 'новая' %}bg-warning text-dark
                    {% elif order.status == 'подтвержденная' %}bg-info
                    {% elif order.status == 'выполненная' %}bg-success
                    {% elif order.status == 'отмененная' %}bg-danger
                    {% endif %}">
                    {{ order.get_status_display }}
                </span>
            </p>
            <div class="text-center mt-auto">
                <a href="{% url 'order_detail' order.id %}" class="btn order-btn custom-btn">Подробнее</a>
            </div>
        </div>
    </div>
</div>
